.feedback {
  margin: 41px 300px 110px;
  width: 450px;
}
@media (max-width: 1570px) {
  .feedback {
    margin: 41px 250px 110px !important;
  }
}
@media (max-width: 1250px) {
  .feedback {
    margin: 41px 120px 110px !important;
  }
}
@media (max-width: 1170px) {
  .feedback {
    margin: 41px 60px 110px !important;
  }
}
@media (max-width: 600px) {
  .feedback {
    margin: 41px 60px 110px !important;
    width: 60% !important;
  }
  .feedback__content {
    font-size: 34px !important;
  }
  .feedback__email {
    margin: 41px 0 30px;
  }
  .feedback__email-text {
    font-size: 20px;
    margin: 0 0 14px;
  }
  .feedback__email-input {
    width: 90% !important;
    height: 28px;
    font-size: 16px;
    font-weight: 400;
  }
  .feedback__theme {
    margin: 0 0 30px;
  }
  .feedback__theme-text {
    font-size: 20px;
    margin: 0 0 14px;
  }
  .feedback__theme-input {
    width: 93.5% !important;
    height: 40px;
    font-size: 16px;
  }
  .feedback__message {
    margin: 0 0 30px;
  }
  .feedback__message-text {
    font-size: 20px;
    margin: 0 0 14px;
  }
  .feedback__message-input {
    width: 90% !important;
    height: 138px;
    font-size: 14px;
  }
  .feedback__checkbox {
    display: flex;
    margin: 0 0 60px;
  }
  .feedback__checkbox-text {
    font-size: 12px !important;
    margin: 0 0 0 10px;
  }
  .feedback__checkbox-text_link {
    font-size: 12px !important;
  }
  .feedback__checkbox-input {
    margin: 3px 0 0;
    padding: 0;
    width: 19px;
    height: 15px;
  }
  .feedback__access {
    font-size: 16px;
    font-weight: 400;
  }
  .feedback__access-button {
    width: 200px;
    height: 50px;
    font-size: 16px;
  }
}
.feedback__content {
  color: rgb(18, 18, 18);
  font-size: 36px;
  font-weight: 700;
}
.feedback__email {
  margin: 41px 0 30px;
}
.feedback__email-text {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 14px;
}
.feedback__email-input {
  width: 438px;
  height: 28px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 5px;
  background: rgb(225, 225, 225);
}
.feedback__theme {
  margin: 0 0 30px;
}
.feedback__theme-text {
  font-size: 20px;
  margin: 0 0 14px;
}
.feedback__theme-input {
  width: 450px;
  height: 40px;
  color: rgb(0, 0, 0);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 5px;
  background: rgb(220, 220, 220);
}
.feedback__message {
  margin: 0 0 30px;
}
.feedback__message-text {
  font-size: 20px;
  margin: 0 0 14px;
}
.feedback__message-input {
  width: 438px;
  height: 138px;
  color: rgb(0, 0, 0);
  font-family: Inter, sans-serif;
  font-size: 14px;
  padding: 5px;
  background: rgb(218, 218, 218);
}
.feedback__checkbox {
  display: flex;
  margin: 0 0 60px;
}
.feedback__checkbox-text {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 0 10px;
}
.feedback__checkbox-text_link {
  font-size: 16px;
  color: #1D9BF0;
  text-decoration: none;
}
.feedback__checkbox-input {
  margin: 3px 0 0;
  padding: 0;
  width: 19px;
  height: 15px;
  border: 1px solid rgb(134, 134, 134);
  background: rgb(222, 222, 222);
  border-radius: 5px;
}
.feedback__checkbox-input:checked {
  background: #1D9BF0;
}
.feedback__access {
  font-size: 16px;
  font-weight: 400;
}
.feedback__access-button {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  font-family: Inter, sans-serif;
  background: rgb(155, 155, 155);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
}

/*# sourceMappingURL=feedback.css.map */
