@import 'media_mixin';

.footer {
  width: 100%;
  height: 269px;

  @include _1570 {
    &__top {
      justify-content: space-between;
      padding: 60px 250px 96px !important;

      &-label {
        width: 30% !important;
        margin: 0 50px 0 0;
        font-size: 24px !important;
        font-weight: 600;
      }

      &-links {
        display: flex;
        flex-direction: column;
      }

      &-list {
        display: flex !important;
        flex-direction: column !important;
        cursor: pointer;

        padding: 0 !important;

        &:last-child {
          margin: 23px 0 0;
        }

        &_item {
          width: 190px;
          padding: 20px 0 0 0 !important;

          color: rgb(65, 65, 65);
          font-size: 18px;
          font-weight: 400;

          text-decoration: underline;

          &:first-child {
            padding: 0 !important;
          }
        }
      }
    }
    &__bot {
      height: 32px;

      &-list {
        padding: 0 250px 0 !important;
        height: 100%;

        &_item {
          font-size: 14px;
          margin: 0 16px 0 !important;

          &:first-child {
            margin: 0 16px 0 0 !important;
          }

          &:last-child {
            margin: 0 0 0 16px !important;
          }
        }
      }
    }
  }

  @include _1250 {
    &__top {
      justify-content: space-between;
      padding: 60px 120px 96px !important;

      &-label {
        width: 30% !important;
        margin: 0 50px 0 0;
        font-size: 24px !important;
        font-weight: 600;
      }

      &-links {
        display: flex;
        flex-direction: column;
      }

      &-list {
        display: flex !important;
        flex-direction: column !important;
        cursor: pointer;

        padding: 0 !important;

        &:last-child {
          margin: 23px 0 0;
        }

        &_item {
          width: 190px;
          padding: 20px 0 0 0 !important;

          color: rgb(65, 65, 65);
          font-size: 18px;
          font-weight: 400;

          text-decoration: underline;

          &:first-child {
            padding: 0 !important;
          }
        }
      }
    }
    &__bot {
      height: 32px;

      &-list {
        padding: 0 120px 0 !important;
        height: 100%;

        &_item {
          font-size: 14px;
          margin: 0 16px 0 !important;

          &:first-child {
            margin: 0 16px 0 0 !important;
          }

          &:last-child {
            margin: 0 0 0 16px !important;
          }
        }
      }
    }
  }

  @include _1170 {
    &__top {
      justify-content: space-between;
      padding: 60px 80px 96px !important;

      &-label {
        width: 30% !important;
        margin: 0 50px 0 0;
        font-size: 24px !important;
        font-weight: 600;
      }

      &-links {
        display: flex;
        flex-direction: column;
      }

      &-list {
        display: flex !important;
        flex-direction: column !important;
        cursor: pointer;

        padding: 0 !important;

        &:last-child {
          margin: 23px 0 0;
        }

        &_item {
          width: 190px;
          padding: 20px 0 0 0 !important;

          color: rgb(65, 65, 65);
          font-size: 18px;
          font-weight: 400;

          text-decoration: underline;

          &:first-child {
            padding: 0 !important;
          }
        }
      }
    }
    &__bot {
      height: 32px;

      &-list {
        padding: 0 80px 0 !important;
        height: 100%;

        &_item {
          font-size: 14px;
          margin: 0 16px 0 !important;

          &:first-child {
            margin: 0 16px 0 0 !important;
          }

          &:last-child {
            margin: 0 0 0 16px !important;
          }
        }
      }
    }
  }

  @include _979 {
    &__top {
      justify-content: space-between;
      padding: 60px 60px 96px !important;

      &-label {
        width: 30% !important;
        margin: 0 50px 0 0;
        font-size: 24px !important;
        font-weight: 600;
      }

      &-links {
        display: flex;
        flex-direction: column;
      }

      &-list {
        display: flex !important;
        flex-direction: column !important;
        cursor: pointer;

        padding: 0 !important;

        &:last-child {
          margin: 23px 0 0;
        }

        &_item {
          width: 190px;
          padding: 20px 0 0 0 !important;

          color: rgb(65, 65, 65);
          font-size: 18px;
          font-weight: 400;

          text-decoration: underline;

          &:first-child {
            padding: 0 !important;
          }
        }
      }
    }
    &__bot {
      height: 32px;

      &-list {
        padding: 0 60px 0 !important;
        height: 100%;

        &_item {
          font-size: 12px !important;
          margin: 0 16px 0 !important;

          &:first-child {
            margin: 0 16px 0 0 !important;
          }

          &:last-child {
            margin: 0 0 0 16px !important;
          }
        }
      }
    }
  }

  @include _768 {
    &__top {
      justify-content: space-between;
      padding: 60px 60px 96px !important;

      &-label {
        width: 30% !important;
        margin: 0 50px 0 0;
        font-size: 24px !important;
        font-weight: 600;
      }

      &-links {
        display: flex;
        flex-direction: column;
      }

      &-list {
        display: flex !important;
        flex-direction: column !important;
        cursor: pointer;

        padding: 0 !important;

        &:last-child {
          margin: 23px 0 0;
        }

        &_item {
          width: 190px;
          padding: 20px 0 0 0 !important;

          color: rgb(65, 65, 65);
          font-size: 18px;
          font-weight: 400;

          text-decoration: underline;

          &:first-child {
            padding: 0 !important;
          }
        }
      }
    }
    &__bot {
      height: 32px;

      &-list {
        height: fit-content !important;
        flex-direction: column;
        padding: 0 60px 0 !important;

        &_item {
          font-size: 14px !important;
          margin: 16px 0 0 !important;

          &:first-child {
            margin: 16px 0 0 !important;
          }

          &:last-child {
            margin: 16px 0 16px !important;
          }
        }
      }
    }
  }

  @include _600 {
    &__top {
      flex-direction: column !important;
      align-items: center;
      justify-content: space-between;
      padding: 60px 60px 96px !important;

      &-label {
        width: 190px !important;
        margin: 0 0 20px !important;
        font-size: 24px !important;
        font-weight: 600;
      }

      &-links {
        display: flex;
        flex-direction: column;
      }

      &-list {
        display: flex !important;
        flex-direction: column !important;
        cursor: pointer;

        padding: 0 !important;

        &:last-child {
          margin: 23px 0 0;
        }

        &_item {
          width: 190px;
          padding: 20px 0 0 0 !important;

          color: rgb(65, 65, 65);
          font-size: 18px;
          font-weight: 400;

          text-decoration: underline;

          &:first-child {
            padding: 0 !important;
          }
        }
      }
    }
    &__bot {
      height: 32px;

      &-list {
        height: fit-content !important;
        flex-direction: column;
        padding: 0 60px 0 !important;

        &_item {
          font-size: 14px !important;
          margin: 16px 0 0 !important;

          &:first-child {
            margin: 16px 0 0 !important;
          }

          &:last-child {
            margin: 16px 0 16px !important;
          }
        }
      }
    }
  }

  @include _480 {

  }

  @include _350 {

  }

  &__top {
    display: flex;
    flex-direction: row;

    height: min-content;
    padding: 60px 300px 96px;
    background: rgb(234, 234, 234);

    &-label {
      width: min-content;

      margin: 0 50px 0 0;
      color: rgb(0, 0, 0);
      font-size: 28px;
      font-weight: 600;
    }

    &-links {
      display: flex;
      flex-direction: column;
    }

    &-list {
      display: flex;
      cursor: pointer;

      padding: 0 0 0 20px;

      &:last-child {
        margin: 23px 0 0;
      }

      &_item {
        width: 190px;
        padding: 0 49px 0 0;

        color: rgb(65, 65, 65);
        font-size: 18px;
        font-weight: 400;

        text-decoration: underline;
      }
    }
  }

  &__bot {
    height: 32px;

    &-list {
      display: flex;
      align-items: center;

      padding: 0 300px 0;
      height: 100%;

      &_item {
        color: rgb(65, 65, 65);
        font-size: 14px;
        font-weight: 400;
        text-decoration-line: underline;
        cursor: pointer;

        margin: 0 32px 0;

        &:first-child {
          margin: 0 32px 0 0;
        }

        &:last-child {
          margin: 0 0 0 32px;
        }
      }
    }
  }
}
