.footer {
  width: 100%;
  height: 269px;
}
@media (max-width: 1570px) {
  .footer__top {
    justify-content: space-between;
    padding: 60px 250px 96px !important;
  }
  .footer__top-label {
    width: 30% !important;
    margin: 0 50px 0 0;
    font-size: 24px !important;
    font-weight: 600;
  }
  .footer__top-links {
    display: flex;
    flex-direction: column;
  }
  .footer__top-list {
    display: flex !important;
    flex-direction: column !important;
    cursor: pointer;
    padding: 0 !important;
  }
  .footer__top-list:last-child {
    margin: 23px 0 0;
  }
  .footer__top-list_item {
    width: 190px;
    padding: 20px 0 0 0 !important;
    color: rgb(65, 65, 65);
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
  }
  .footer__top-list_item:first-child {
    padding: 0 !important;
  }
  .footer__bot {
    height: 32px;
  }
  .footer__bot-list {
    padding: 0 250px 0 !important;
    height: 100%;
  }
  .footer__bot-list_item {
    font-size: 14px;
    margin: 0 16px 0 !important;
  }
  .footer__bot-list_item:first-child {
    margin: 0 16px 0 0 !important;
  }
  .footer__bot-list_item:last-child {
    margin: 0 0 0 16px !important;
  }
}
@media (max-width: 1250px) {
  .footer__top {
    justify-content: space-between;
    padding: 60px 120px 96px !important;
  }
  .footer__top-label {
    width: 30% !important;
    margin: 0 50px 0 0;
    font-size: 24px !important;
    font-weight: 600;
  }
  .footer__top-links {
    display: flex;
    flex-direction: column;
  }
  .footer__top-list {
    display: flex !important;
    flex-direction: column !important;
    cursor: pointer;
    padding: 0 !important;
  }
  .footer__top-list:last-child {
    margin: 23px 0 0;
  }
  .footer__top-list_item {
    width: 190px;
    padding: 20px 0 0 0 !important;
    color: rgb(65, 65, 65);
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
  }
  .footer__top-list_item:first-child {
    padding: 0 !important;
  }
  .footer__bot {
    height: 32px;
  }
  .footer__bot-list {
    padding: 0 120px 0 !important;
    height: 100%;
  }
  .footer__bot-list_item {
    font-size: 14px;
    margin: 0 16px 0 !important;
  }
  .footer__bot-list_item:first-child {
    margin: 0 16px 0 0 !important;
  }
  .footer__bot-list_item:last-child {
    margin: 0 0 0 16px !important;
  }
}
@media (max-width: 1170px) {
  .footer__top {
    justify-content: space-between;
    padding: 60px 80px 96px !important;
  }
  .footer__top-label {
    width: 30% !important;
    margin: 0 50px 0 0;
    font-size: 24px !important;
    font-weight: 600;
  }
  .footer__top-links {
    display: flex;
    flex-direction: column;
  }
  .footer__top-list {
    display: flex !important;
    flex-direction: column !important;
    cursor: pointer;
    padding: 0 !important;
  }
  .footer__top-list:last-child {
    margin: 23px 0 0;
  }
  .footer__top-list_item {
    width: 190px;
    padding: 20px 0 0 0 !important;
    color: rgb(65, 65, 65);
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
  }
  .footer__top-list_item:first-child {
    padding: 0 !important;
  }
  .footer__bot {
    height: 32px;
  }
  .footer__bot-list {
    padding: 0 80px 0 !important;
    height: 100%;
  }
  .footer__bot-list_item {
    font-size: 14px;
    margin: 0 16px 0 !important;
  }
  .footer__bot-list_item:first-child {
    margin: 0 16px 0 0 !important;
  }
  .footer__bot-list_item:last-child {
    margin: 0 0 0 16px !important;
  }
}
@media (max-width: 979px) {
  .footer__top {
    justify-content: space-between;
    padding: 60px 60px 96px !important;
  }
  .footer__top-label {
    width: 30% !important;
    margin: 0 50px 0 0;
    font-size: 24px !important;
    font-weight: 600;
  }
  .footer__top-links {
    display: flex;
    flex-direction: column;
  }
  .footer__top-list {
    display: flex !important;
    flex-direction: column !important;
    cursor: pointer;
    padding: 0 !important;
  }
  .footer__top-list:last-child {
    margin: 23px 0 0;
  }
  .footer__top-list_item {
    width: 190px;
    padding: 20px 0 0 0 !important;
    color: rgb(65, 65, 65);
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
  }
  .footer__top-list_item:first-child {
    padding: 0 !important;
  }
  .footer__bot {
    height: 32px;
  }
  .footer__bot-list {
    padding: 0 60px 0 !important;
    height: 100%;
  }
  .footer__bot-list_item {
    font-size: 12px !important;
    margin: 0 16px 0 !important;
  }
  .footer__bot-list_item:first-child {
    margin: 0 16px 0 0 !important;
  }
  .footer__bot-list_item:last-child {
    margin: 0 0 0 16px !important;
  }
}
@media (max-width: 768px) {
  .footer__top {
    justify-content: space-between;
    padding: 60px 60px 96px !important;
  }
  .footer__top-label {
    width: 30% !important;
    margin: 0 50px 0 0;
    font-size: 24px !important;
    font-weight: 600;
  }
  .footer__top-links {
    display: flex;
    flex-direction: column;
  }
  .footer__top-list {
    display: flex !important;
    flex-direction: column !important;
    cursor: pointer;
    padding: 0 !important;
  }
  .footer__top-list:last-child {
    margin: 23px 0 0;
  }
  .footer__top-list_item {
    width: 190px;
    padding: 20px 0 0 0 !important;
    color: rgb(65, 65, 65);
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
  }
  .footer__top-list_item:first-child {
    padding: 0 !important;
  }
  .footer__bot {
    height: 32px;
  }
  .footer__bot-list {
    height: fit-content !important;
    flex-direction: column;
    padding: 0 60px 0 !important;
  }
  .footer__bot-list_item {
    font-size: 14px !important;
    margin: 16px 0 0 !important;
  }
  .footer__bot-list_item:first-child {
    margin: 16px 0 0 !important;
  }
  .footer__bot-list_item:last-child {
    margin: 16px 0 16px !important;
  }
}
@media (max-width: 600px) {
  .footer__top {
    flex-direction: column !important;
    align-items: center;
    justify-content: space-between;
    padding: 60px 60px 96px !important;
  }
  .footer__top-label {
    width: 190px !important;
    margin: 0 0 20px !important;
    font-size: 24px !important;
    font-weight: 600;
  }
  .footer__top-links {
    display: flex;
    flex-direction: column;
  }
  .footer__top-list {
    display: flex !important;
    flex-direction: column !important;
    cursor: pointer;
    padding: 0 !important;
  }
  .footer__top-list:last-child {
    margin: 23px 0 0;
  }
  .footer__top-list_item {
    width: 190px;
    padding: 20px 0 0 0 !important;
    color: rgb(65, 65, 65);
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
  }
  .footer__top-list_item:first-child {
    padding: 0 !important;
  }
  .footer__bot {
    height: 32px;
  }
  .footer__bot-list {
    height: fit-content !important;
    flex-direction: column;
    padding: 0 60px 0 !important;
  }
  .footer__bot-list_item {
    font-size: 14px !important;
    margin: 16px 0 0 !important;
  }
  .footer__bot-list_item:first-child {
    margin: 16px 0 0 !important;
  }
  .footer__bot-list_item:last-child {
    margin: 16px 0 16px !important;
  }
}
.footer__top {
  display: flex;
  flex-direction: row;
  height: min-content;
  padding: 60px 300px 96px;
  background: rgb(234, 234, 234);
}
.footer__top-label {
  width: min-content;
  margin: 0 50px 0 0;
  color: rgb(0, 0, 0);
  font-size: 28px;
  font-weight: 600;
}
.footer__top-links {
  display: flex;
  flex-direction: column;
}
.footer__top-list {
  display: flex;
  cursor: pointer;
  padding: 0 0 0 20px;
}
.footer__top-list:last-child {
  margin: 23px 0 0;
}
.footer__top-list_item {
  width: 190px;
  padding: 0 49px 0 0;
  color: rgb(65, 65, 65);
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline;
}
.footer__bot {
  height: 32px;
}
.footer__bot-list {
  display: flex;
  align-items: center;
  padding: 0 300px 0;
  height: 100%;
}
.footer__bot-list_item {
  color: rgb(65, 65, 65);
  font-size: 14px;
  font-weight: 400;
  text-decoration-line: underline;
  cursor: pointer;
  margin: 0 32px 0;
}
.footer__bot-list_item:first-child {
  margin: 0 32px 0 0;
}
.footer__bot-list_item:last-child {
  margin: 0 0 0 32px;
}

/*# sourceMappingURL=footer.css.map */
