.header {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1570px) {
  .header__top {
    font-size: 12px !important;
    height: 32px;
    padding: 0 250px 0 !important;
  }
  .header__top-list {
    height: 100%;
  }
  .header__top-list_item {
    margin: 0 32px;
  }
  .header__top-list_item:first-child {
    margin: 0 32px 0 0;
  }
  .header__top-list_item:last-child {
    margin: 0 0 0 32px;
  }
  .header__bot {
    padding: 0 250px 0 !important;
  }
  .header__bot-list_item {
    margin: 0 23px 0;
  }
  .header__bot-list_item:first-child {
    margin: 0;
  }
  .header__bot-list_item:last-child {
    margin: 0;
  }
  .header__bot-list_name {
    font-size: 24px;
  }
  .header__bot-list_name_link {
    font-size: 24px;
    margin: 0 23px 0 0;
  }
}
@media (max-width: 1250px) {
  .header__top {
    font-size: 12px !important;
    height: 32px;
    padding: 0 120px 0 !important;
  }
  .header__top-list {
    height: 100%;
  }
  .header__top-list_item {
    margin: 0 32px;
  }
  .header__top-list_item:first-child {
    margin: 0 32px 0 0;
  }
  .header__top-list_item:last-child {
    margin: 0 0 0 32px;
  }
  .header__bot {
    padding: 0 120px 0 !important;
  }
  .header__bot-list_item {
    margin: 0 23px 0 0;
  }
  .header__bot-list_item img {
    height: 17px !important;
  }
  .header__bot-list_item:first-child {
    margin: 0;
  }
  .header__bot-list_item:last-child {
    margin: 0;
  }
  .header__bot-list_name {
    font-size: 20px !important;
  }
  .header__bot-list_name_link {
    font-size: 20px !important;
    margin: 0 23px 0 0;
  }
}
@media (max-width: 1170px) {
  .header__top {
    font-size: 12px !important;
    height: 32px;
    padding: 0 80px 0 !important;
  }
  .header__top-list {
    height: 100%;
  }
  .header__top-list_item {
    margin: 0 32px;
  }
  .header__top-list_item:first-child {
    margin: 0 32px 0 0;
  }
  .header__top-list_item:last-child {
    margin: 0 0 0 32px;
  }
  .header__bot {
    padding: 0 80px 0 !important;
  }
  .header__bot-list_item {
    margin: 0 23px 0 0;
  }
  .header__bot-list_item img {
    height: 17px !important;
  }
  .header__bot-list_item:first-child {
    margin: 0;
  }
  .header__bot-list_item:last-child {
    margin: 0;
  }
  .header__bot-list_name {
    font-size: 20px !important;
  }
  .header__bot-list_name_link {
    font-size: 20px !important;
    margin: 0 23px 0 0;
  }
}
@media (max-width: 979px) {
  .header__top {
    font-size: 10px !important;
    height: 32px;
    padding: 0 60px 0 !important;
  }
  .header__top-list {
    height: 100%;
  }
  .header__top-list_item {
    margin: 0 26px !important;
  }
  .header__top-list_item:first-child {
    margin: 0 26px 0 0 !important;
  }
  .header__top-list_item:last-child {
    margin: 0 0 0 32px !important;
  }
  .header__bot {
    padding: 0 60px 0 !important;
  }
  .header__bot-list_item {
    margin: 0 23px 0 0;
  }
  .header__bot-list_item img {
    height: 17px !important;
  }
  .header__bot-list_item:first-child {
    margin: 0;
  }
  .header__bot-list_item:last-child {
    margin: 0;
  }
  .header__bot-list_name {
    font-size: 20px !important;
  }
  .header__bot-list_name_link {
    font-size: 20px !important;
    margin: 0 23px 0 0;
  }
}
@media (max-width: 768px) {
  .header__top {
    flex-direction: column !important;
    font-size: 14px !important;
    height: fit-content !important;
    padding: 0 60px 0 !important;
  }
  .header__top-list {
    flex-direction: column !important;
    height: 100%;
  }
  .header__top-list_item {
    margin: 10px 0 !important;
  }
  .header__top-list_item:first-child {
    margin: 10px 0 !important;
  }
  .header__top-list_item:last-child {
    margin: 10px 0 !important;
  }
  .header__bot {
    flex-direction: column !important;
    height: fit-content !important;
    padding: 0 60px 0 !important;
    align-items: center !important;
  }
  .header__bot-list:first-child {
    margin: 20px 0 0 !important;
  }
  .header__bot-list:last-child {
    margin: 20px 0 20px !important;
  }
  .header__bot-list_item {
    margin: 0 23px 0 0;
  }
  .header__bot-list_item img {
    height: 20px !important;
  }
  .header__bot-list_item:first-child {
    margin: 0;
  }
  .header__bot-list_item:last-child {
    margin: 0;
  }
  .header__bot-list_name {
    font-size: 20px !important;
  }
  .header__bot-list_name_link {
    font-size: 20px !important;
    margin: 0 23px 0 0;
  }
}
.header__top {
  display: flex;
  justify-content: space-between;
  color: rgb(65, 65, 65);
  font-size: 14px;
  font-weight: 700;
  height: 32px;
  padding: 0 300px 0;
  background: rgb(234, 234, 234);
}
.header__top-list {
  display: flex;
  align-items: center;
  height: 100%;
}
.header__top-list_item {
  margin: 0 32px;
  color: rgb(65, 65, 65);
  cursor: pointer;
  text-decoration: none;
}
.header__top-list_item:first-child {
  margin: 0 32px 0 0;
}
.header__top-list_item:last-child {
  margin: 0 0 0 32px;
}
.header__bot {
  display: flex;
  justify-content: space-between;
  height: 65px;
  padding: 0 300px 0;
  background: rgb(255, 255, 255);
}
.header__bot-list {
  display: flex;
  align-items: center;
}
.header__bot-list_item {
  margin: 0 23px 0;
  cursor: pointer;
}
.header__bot-list_item:first-child {
  margin: 0;
}
.header__bot-list_item:last-child {
  margin: 0;
}
.header__bot-list_name {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 400;
}
.header__bot-list_name_link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  margin: 0 23px 0 0;
}

/*# sourceMappingURL=header.css.map */
